@import url('./fonts/ALS Gorizont/stylesheet.css');

:root{
    --scale: 10px;

    @media screen and (max-width: $mobile){
        --scale: 2.335vw;
    }
}

*{
    position: relative;
}


html{
    font-size: var(--scale);
    
    font-family: 'ALS Gorizont', sans-serif;
    
    color: var(--c-black);

    --generic-padding: 7.4rem;

    background: var(--c-lime);

    @media (max-width: $mobile-big){
        --generic-padding: 3.2rem;
    }
}

body{
    font-size: 1.6rem;
    
    position: relative;
    
    background: var(--c-orange);

    height: 100vh;
    overflow-x: hidden;
    width: 100vw;
}

::-webkit-scrollbar{
    width: .8rem;

    &-track{
        width: .8rem;
        background: var(--c-lime);
    }

    &-thumb{
        background: var(--c-black);
        border: .1rem solid var(--c-lime);
        border-radius: .8rem;
    }
}

::selection{
    color: var(--c-black);
    background: var(--c-lime);
}

h1, h2, h3, h4, h5, h6{
    font-weight: 800;
    line-height: 100%;
}

h1{
    font-size: 5.8rem;
}

ul{
    @include flex-col;
    gap: .7em;

    li{
        position: relative;
        padding-left: 1em;

        &::before{
            @include pseudo-absolute;
            left: 0;
            top: .5em;
            height: .3em;
            width: .3em;
            background: var(--c-black);
            border-radius: 50%;
        }
    }
}

.cas-wr{
    width: 100%;
    padding: 0 var(--generic-padding);
    margin: 0 auto;
    max-width: 155.4rem;

    &-primary{
        padding-top: calc(12.8rem + 7.2rem);

        @media (max-width: $mobile-big){
            padding-top: calc(var(--generic-padding) + 5.2rem);
        }
    }
}

.sh-link{
    transition: .1s;
    --sh-color: #DAF667;
    cursor: pointer;

    @media (hover:hover){
        &:hover{
            filter: drop-shadow(.25rem .25rem .1rem var(--sh-color));
        }
    }

    &:active{
        transition: .025s;
        transform: translate(.2rem, .2rem);
        filter: drop-shadow(0rem 0rem 0 transparent);
    }
}